
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

<style type="text/css">
    a:hover, a:active {color: #00AEA9;}
    a.bot:hover, a.bot:active {color: #3b6898;}
</style>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;"><tr><td width="100%" style="min-width: 896px;min-height: 100%;background: #f1f1f1;">
    <table border="0" cellpadding="0" cellspacing="0"><tr><td height="40">&nbsp;</td></tr></table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;font-family: 'Roboto', PingFangSC-Medium, sans-serif, Helvetica, Arial; text-indent: 0; max-width: 720px; width: 100%; background-color: #fff;font-size: 50px;">
        <tr><td colspan="3" height="56"></td></tr>
        <tr>
            <td width="64"></td>
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;font-family: 'Roboto', PingFangSC-Medium, sans-serif, Helvetica, Arial;text-indent: 0;font-size: 50px;">
                    <tr>
                        <td height="64">
                            <img alt="vesync logo" border="0" height="64" width="128" src="https://image.vesync.com/email_images/logo-vesync-128.png" />
                        </td>
                        <td width="120" align="right" valign="top"></td>
                    </tr>
                </table>
            </td>
            <td width="64"></td>
        </tr>
        <tr><td colspan="3" height="56"></td></tr>

        <tr>
            <td></td>
            <td height="24" style="font-family: 'Roboto';font-size: 0.4em; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; color: #222222;" th:text="'Dear ' + ${userName} + ':'">%s</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" height="16"></td>
        </tr>
        <tr>
            <td></td>
            <td height="90" style="font-family: 'Roboto';font-size: 0.4em; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; line-height: 1.5; color: #222222;">We notice you have an unpaid order. Stock availability and price discounts can change. To avoid disappointment, click the button below to proceed with secure payment.</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" height="20"></td>
        </tr>
        <tr>
            <td></td>
            <td height="40">
                <a th:href="'https://files.vesync.com/h5/jumpApp/index.html?url=' + ${orderDetailUrl}" style="display: block; background-color: #00c1bc; width: 11.71em; height: 2.86em;border-radius: 1.43em;font-family: 'Roboto';font-size: 0.28em;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 2.86em;letter-spacing: normal;text-align: center;color: #ffffff;text-decoration: none;">Complete Order</a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" height="36"></td>
        </tr>

        <tr>
            <td></td>
            <td height="19" align="right" style="font-size: 0.32em; font-weight: normal; font-stretch: normal; font-style: normal; letter-spacing: normal; color: #999999;" th:text="'Order No.' + ${invoceId}">%s</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="3" height="8"></td>
        </tr>

        <tr>
            <td></td>
            <td style="padding-top: 0.5em;padding-bottom: 0.5em;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #eeeeee;border-top-width: 1px;border-top-style: solid;border-top-color: #eeeeee;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;font-family: 'Roboto', PingFangSC-Medium, sans-serif, Helvetica, Arial;text-indent: 0;font-size: 50px;">
                    <tr>
                        <td height="19" width="50%" style="font-family: 'Roboto';font-size: 0.32em;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #999999;">Recipients:</td>
                        <td width="50%" style="font-family: 'Roboto';font-size: 0.32em;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #999999;">Shipping Address:</td>
                    </tr>
                    <tr><td colspan="2" height="16"></td></tr>
                    <tr>
                        <td height="20" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #222222;" th:text="${shippingInformation.receiverFirstName} + ' ' + ${shippingInformation.receiverLastName}">%s</td>
                        <td style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #222222;" th:text="${shippingInformation.areaAddress}">%s</td>
                    </tr>
                    <tr><td colspan="2" height="8"></td></tr>
                    <tr>
                        <td height="20" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #222222;" th:text="${shippingInformation.phoneNumber}">%s</td>
                        <td style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #222222;" th:text="${shippingInformation.cityName} + ' ' + ${shippingInformation.stateName} + ' ' + ${shippingInformation.zipCode}">%s</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr th:each="prod : ${orderProductInfos}">
            <td></td>
            <td style="border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #eeeeee;padding-top: 0.5em;padding-bottom: 0.5em;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;font-family: 'Roboto', PingFangSC-Medium, sans-serif, Helvetica, Arial;text-indent: 0;font-size: 50px;">
                    <tr>
                        <td width="80" rowspan="5">
                            <img th:src="${prod.productSpecImageUrl}" width="80">
                        </td>
                        <td width="16" rowspan="5"></td>
                        <td width="360" th:text="${prod.productSimpleName}" style="font-family: 'Roboto';font-size: 0.32em;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #222222;">%s</td>
                        <td align="right" th:text="'$' + ${prod.productSpecRawPrice}" style="font-family: 'Roboto';font-size: 0.32em;font-weight: 500;font-stretch: normal;font-style: normal;line-height: normal;letter-spacing: normal;color: #222222;">%s</td>
                    </tr>
                    <tr><td height="15"></td></tr>
                    <tr>
                        <td height="20" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #999999;">Quantity: <span th:text="${prod.productQuantity}" style="color: #222222;">%s</span></td>
                    </tr>
                    <tr><td height="8"></td></tr>
                    <tr>
                        <td height="20" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #222222;" th:text="${prod.productSpecExtraInfo}">%s</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="padding-top: 0.2em;padding-bottom: 0.2em;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;font-family: 'Roboto', PingFangSC-Medium, sans-serif, Helvetica, Arial;text-indent: 0;font-size: 50px;">
                    <tr>
                        <td rowspan="11" height="16" width="296"></td>
                        <td width="148" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #999999;">Subtotal</td>
                        <td align="right" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #222222;" th:text="'$' + ${Subtotal}">%s</td>
                    </tr>
                    <tr><td height="8"></td></tr>
                    <tr>
                        <td height="16" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #999999;">Shipping Fee</td>
                        <td align="right" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #222222;" th:text="'+$' + ${shippingFee}">%s</td>
                    </tr>
                    <tr><td height="8"></td></tr>
                    <tr>
                        <td height="16" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #999999;">Sales Tax</td>
                        <td align="right" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #222222;" th:text="'+$' + ${salesTax}">%s</td>
                    </tr>
                    <tr><td height="8"></td></tr>
                    <tr>
                        <td height="16" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #999999;">Coupon</td>
                        <td align="right" style="font-family: 'Roboto';font-size: 0.28em;font-weight: normal;color: #222222;" th:text="'-$' + ${coupon}">%s</td>
                    </tr>
                    <tr><td height="12" colspan="2" style="border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #eeeeee;"></td></tr>
                    <tr><td height="12"></td></tr>
                    <tr>
                        <td height="24" style="font-family: 'Roboto';font-size: 0.4em;font-weight: 500;color: #222222;">Grand Total</td>
                        <td align="right" style="font-family: 'Roboto';font-size: 0.4em;font-weight: 500;color: #222222;" th:text="'$' + ${grandTotal}">%s</td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
        <tr><td colspan="3" height="56"></td></tr>
        <tr>
            <td></td>
            <td height="30" style="font-family: 'Roboto';font-size: 0.4em;color: #222222;">Best Regards,</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td height="30" style="font-family: 'Roboto';font-size: 0.4em;color: #222222;">VeSync Team</td>
            <td></td>
        </tr>
        <tr><td colspan="3" height="56"></td></tr>

        <tr>
            <td colspan="3" height="268" style="background: #fafafa;padding-top: 0.8em;padding-bottom: 0.8em;padding-left: 1.28em;padding-right: 1.28em;">

                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;font-family: 'Roboto', PingFangSC-Medium, sans-serif, Helvetica, Arial;text-indent: 0;font-size: 50px;">
                    <tr>
                        <td colspan="7" height="16" style="font-family: 'Roboto';font-size: 0.28em;line-height:1.43em;color: #111111;text-align: center;">Questions? Contact our helpful Customer Support Team at <a href="mailto:support@vesync.com" style="color: #00c1bc;text-decoration: none;">support@vesync.com</a></td>
                    </tr>
                    <tr><td height="8"></td></tr>
                    <tr>
                        <td colspan="7" height="16" style="font-size: 0.28em;color: #111111;text-align: center;">Add our email to your contacts to make sure you never miss an update!</td>
                    </tr>
                    <tr><td height="16"></td></tr>
                    <tr>
                        <td width="131"></td>
                        <td width="64" align="right">
                            <img alt="ercode" border="0" width="64" height="64" src="https://image.vesync.com/email_images/qrcode.png" />
                        </td>
                        <td width="17"></td>

                        <td width="111" valign="center">
                            <a href="https://itunes.apple.com/us/app/vesync/id1289575311?mt=8">
                                <img alt="app store" border="0" width="111" height="40" src="https://image.vesync.com/email_images/icon-app-store.png" />
                            </a>
                        </td>
                        <td width="10"></td>

                        <td width="126" valign="center" align="left">
                            <a href="https://play.google.com/store/apps/details?hl=en&id=com.etekcity.vesyncplatform">
                                <img alt="google play" border="0" width="126" height="40" src="https://image.vesync.com/email_images/icon-google-play.png" />
                            </a>
                        </td>
                        <td width="129"></td>
                    </tr>
                    <tr><td height="16"></td></tr>
                    <tr>
                        <td colspan="7" height="14" style="text-align: center;font-family: 'Roboto';font-size: 0.24em;font-weight: 500;color: #012c5b;">
                            <a class="bot" href="https://www.vesync.com" style="font-family: 'Roboto';font-size: 1em;font-weight: 500;color: #012c5b;text-decoration: none;">About Us</a>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <a class="bot" href="https://www.vesync.com/privacy-policy" style="font-family: 'Roboto';font-size: 1em;font-weight: 500;color: #012c5b;text-decoration: none;">Privacy Policy</a>

                        </td>
                    </tr>
                    <tr><td height="8"></td></tr>
                    <tr>
                        <td colspan="7" height="14" style="text-align: center;font-family: 'Roboto';font-size: 0.24em;color: #111111;">&copy; VeSync Corporation | 1202 North Miller Street, Suite A, Anaheim, CA 92806</td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

    <table border="0" cellpadding="0" cellspacing="0"><tr><td height="40">&nbsp;</td></tr></table>
</td></tr></table>